// Colors

@green-900: #034237;
@green-500: #108571;
@green-200: #A2DFD5;
@green-100: #EFFBF9;
@white: #FFFFFF;

@default-text-color: @green-500;
@brand-color: @green-500;


// Media Query

@small: ~"only screen and (max-width: 960px)";


// Base

body {
  transition-property: background;
  transition-duration: 1000ms;
}

@media @small {
  body {
    font-size: 20px;
    line-height: 1.4;
  }
}


// Typography

.m-button-text () {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 500;
  text-transform: uppercase;
}

body, input, textarea {
  font-size: 22px;
  line-height: 32px;
  color: @default-text-color;
  font-family: 'Merriweather', serif;
  font-weight: 400;
}

button {
  .m-button-text();
  color: @default-text-color;
  letter-spacing: 1px;
  font-size: 24px;
  line-height: 32px;
}

.m-header () {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
}

.m-subheader () {
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h1 {
  margin: 24px 0;
}

h2 {
  margin: 24px 0;
}

p {
  margin: 16px 0;
}

blockquote {
  border-left: 3px solid fade(@green-500, 20%);
  margin: 16px 0;
  padding: 0 0 0 21px;
  font-size: 20px;
  line-height: 32px;
}

li {
  margin: 0 0 24px 0;
}


// Button

button {
  background: transparent;
  border: 0;
  border-radius: 32px;
  box-shadow: inset 0 0 0 3px @green-500;
  height: 64px;
  margin: 8px;
  min-width: 200px;
  padding: 16px 32px;
  transition: transform .1s, box-shadow .1s;

  &:hover,
  &:focus {
    background: @green-100;
    color: @green-900;
    box-shadow: inset 0 0 0 3px @green-900;
    outline: none;
  }

  &:active {
    transform: translateY(2px);
  }

}

  button.mod-button-bar {
    display: inline-block;
    margin: 0;
  }


// Radio Button

.radio-button {
  min-height: 48px;
  display: flex;
  margin: 16px;
}

  .radio-button-check {
    border-radius: 24px;
    height: 48px;
    margin: 0;
    min-width: 48px;
    padding: 0;

  }

  .radio-button-label {
    .m-button-text();
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 32px;
    padding: 8px 16px;
    margin: 0;
  }

.radio-button.is-checked {

  .radio-button-check {
    background-color: @green-500;
    background-image: url('/images/check.svg');
    background-repeat: no-repeat;
    box-shadow: none;

    &:hover,
    &:focus {
      background-color: @green-900;
    }

  }

}


// New Game Overlay

.new-game-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow-x: auto;

  background-image:
    radial-gradient(
      hsla(0, 0%, 100%, .8),
      hsla(0, 0%, 100%, .2)
    );

  // display: flex;
  // align-items: center;
  // justify-content: center;
  z-index: 100;
}

.new-game-overlay-content {
  margin: 128px auto;
  max-width: 816px;
  text-align: center;
}

.pack-chooser {
  margin-bottom: 48px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}


// Intro

.intro {
}

  .intro-content {
    margin: 96px auto;
    padding: 0 128px;
    max-width: 656px;
  }

    .intro-content-section {
      margin: 96px 0;
    }

      .intro-header {
        margin: 96px auto;
        text-align: center;
      }

        .intro-header-opening {
          margin: 24px 0;
        }

      .intro-packs {
        text-align: center;
        margin: 64px 0;
      }

      .intro-content-section-header {
        .m-header();
        margin: 0;
      }

      .intro-content-section-details {
        margin-top: 16px;
      }

      .intro-content-section-details a {
        color: @green-900;

        &:hover {
          color: @green-500;
        }

      }

@media @small {
  .intro-content {
    margin: 112px auto;
    padding: 0 32px;
  }
}


// Game

.game {
  margin: 48px auto 0;
  max-width: 960px;
  position: relative;
  text-align: center;
  transition-duration: 250ms;
  transition-property: opacty filter;
  z-index: 0;
}

  .game-section {
    box-sizing: border-box;
    display: inline-block;
    padding: 0 24px;
    vertical-align: top;
    width: 100%;
    text-align: left;
  }

  .game-section.mod-left {
    text-align: center;
    width: 176px;
  }

  .game-section.mod-right {
    width: 784px;
  }

    .game-section-header {
      .m-header();
      display: block;
      margin: 32px 0 16px 0;
      width: 100%;
    }

    .game-section-detail {
    }


.game.is-blurred {
  filter: blur(15px);
  opacity: .4;

  .letter {
    filter: blur(50px);
    opacity: .3;
  }

}

@media @small {

  .game {
    margin: 80px 24px;
  }

  .game-section.mod-left,
  .game-section.mod-right {
    width: 100%;
  }

}


// Letter

.letter {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 72px;
  background-color: @green-100;
  border-radius: 100%;
  height: 128px;
  line-height: 128px;
  margin: 0 auto;
  width: 128px;
}


// Timer

.game-timer {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 500;
  font-size: 24px;

  background-color: @green-100;
  border-radius: 32px;
  box-sizing: border-box;
  min-height: 64px;
  line-height: 32px;
  margin: 16px 0;
  padding: 16px 0;
  width: 100%;
}


// Category List

.category-list {
  list-style: none;
  padding-left: 56px;
  counter-reset: cat-counter;
}

  li.category-list-item {
    counter-increment: cat-counter;
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 16px;
    min-height: 32px;
    padding: 4px 0;
    position: relative;

    &::before {
      background-color: @green-100;
      border-radius: 100%;
      content: counter(cat-counter);
      display: inline-block;
      font-family: 'IBM Plex Mono', monospace;
      font-size: 20px;
      font-weight: 500;
      line-height: 40px;
      position: absolute;
      left: -56px;
      height: 40px;
      text-align: center;
      top: 0;
      width: 40px;
    }

  }


// Button Bar

.button-bar {
  margin: 16px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 200;
}

  .button-bar-left-section {
    float: left;
  }

  .button-bar-right-section {
    float: right;
  }


// Logo
// Used in the intro

.logo {
  height: 48px;
  padding: 8px;
}

  .logo-image {
    display: inline-block;
    height: 48px;
    width: 48px;
    vertical-align: middle;
  }

  .logo-text {
    display: inline-block;
    font-size: 42px;
    font-weight: 400;
    line-height: 48px;
    margin: 0 8px 0 16px;
    vertical-align: middle;
  }

// Logo Button
// Used in the game screen.

.logo-button {
  border-radius: 32px;
  color: @brand-color;
  display: block;
  height: 48px;
  margin: 0;
  padding: 8px 24px 8px 8px;
  text-decoration: none;

  &:hover {
    background-color: @green-100;
    box-shadow: 0 0 0 3px @green-900;
    color: @green-900;

    .logo-button-image {
      filter: brightness(50%);
    }
  }

  &:active {
    transform: translateY(2px);
  }

}

  .logo-button-image {
    display: inline-block;
    height: 48px;
    width: 48px;
    vertical-align: middle;
  }

  .logo-button-text {
    display: inline-block;
    font-size: 32px;
    margin: 0 0 0 16px;
    vertical-align: middle;
  }


// End of Timer

body.is-end-of-timer {
  background-color: @green-200;
}


// Utillities

.u-hidden {
  display: none;
}
